@import "tailwindcss";


body {
  background: #F9C784;
  color: black;
  font-family: var(--font-ubuntu);
  margin: 0;
  padding: 0;
}



.warning {
  display: none;
}

@media (min-width: 768px) {
  .wrapper {
    display: none;
  }
  .warning {
    display: block;
  }
}

.MenuBar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 20px;
  background-color: #FC7A1E;
  z-index: 1000;
}

.MenuBar :hover{
  background-color: #F9C784;
}

.Button{
  background-color: #485696;
  margin: 20px;
  padding: 10px;
  border-radius: 12px;
  color: aliceblue;
  width: 100%;
  max-width: 300px;
  display: block;
}

.RandomJoke{
  background-color: #F24C00;
  border-radius: 10px;
  box-shadow: inset;
  padding: 10px;
}

.Image1{
  width: 100%;
  max-width: 450px;
  border-radius: 20px;
  margin: 20px;
}
